body {
  background-color: forestgreen; /*Missing - inbetween background and color*/
  margin: 0;
  font-family: 'Gil Sans'; /* incorrect spelling of gill and missing ''*/
}

header h1 {
  font-family: 'Arial Black'; /* The proper font for h1 and h2 and home in list is Arial Black */
}

header {
  background-color: Gold; /*0 instead of o in gold*/
  color: #004d00;
  text-align: center;
  font-size: 2em;
  padding: 20px;/* extra d in padding*/
  margin: 0;
}

nav { /*unneeded . before nav*/
  background-color: #2e1a1a;
  width: 100%;
  margin: 0;
  padding: 0 5px;
  position: sticky;
  top: 0;
}

nav li {
  display: inline;
  border-right: 1px solid grey;
  font-family: 'Arial Black'; /* The proper font for h1 and h2 and home in list is Arial Black */
}

nav li:last-child {
  border-right: none;
}

nav ul {
  list-style-type: none;
  display: inline-flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: gold;
  font-weight: bold;
  padding: 14px 16px;
}

nav a:hover { /*extra colon after a */
  background-color: gold;
  color: #2e1a1a;
}

main {
  background-color: lightgreen;
  margin: 50px; /*extra 100 after the 50px*/
  padding: 50px;
}

img { /*said garden instead of img*/
  border: 5px solid brown;
  border-radius: 30px;
  box-shadow: 5px 5px 15px grey;
  height: 30;
  width: 30%;
}

section {
  margin-top: 30px;  /*missing - inbetween margin top*/
}

h2 {
  color: brown;
  font-family: 'Arial Black'; /* The proper font for h1 and h2 and home in list is Arial Black */
}

footer {
  background-color: #2e1a1a;
  opacity: 0.9;
  padding: 30px 50px;
  color: gold;
  text-align: center;
}